/* responsable for smartphones */
@media (max-width:351px) {
    .hr{display: none;}
    .his-sec {
        display: none;
    }
    .cal-sec>.cal-icon>.six{
        display: none;
    }
   
}
@media (max-width:431px) {
    .hr{display: none;}
    .cal-icon>.hidden{
        display: none;
    }
    .his-sec {
        display: none;
    }

    .cal-sec {
        width: 95vw;
    }

    .cal-sec>.cal-icon>.six>input {
        color: rgb(90, 90, 90);
        height:auto;
        border: none;
        padding:0;
        font-size: 1.2rem;
    }

    #in-out-sec {
        border: none;
        margin: 0rem 1rem 1rem 0;
        width: 90%;
        float: inline-end;
    }
}